@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    @page {
        size: A4;
        margin: 0;
    }
}
.a4-size {
    width: 210mm;
    height: 297mm;
    background-color: rgb(255, 255, 255);
}
.a4-Msize {
    width: 105mm;
    height: 148.5mm;
    background-color: rgb(255, 255, 255);
}